<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %> 
  <title><%= title %></title>
</head>
<body>
  <div class="d-flex">
    <div>
      <%- include('../partials/sidebar.ejs') %> 
    </div>
    <div class="flex-grow-1">
      <%- include('../partials/navbar.ejs') %>
      <%- body %>
    </div>
  </div>
</body>
</html>